# Resources
http://www.randalolson.com/2012/08/06/statistical-analysis-made-easy-in-python/

In [245]:
import os
from numpy import genfromtxt
import numpy as np
import pandas as pd
from pandas import *
from scipy import stats

In [246]:
print(os.getcwd())

/Users/beep/Documents/courses_Spring2019/BIO_383/Bioinformatics_Project1/data

In [253]:
## Get data
dataColumns = ['run', 'seq','gc_content', 'unpaired_count', 'character_count']
data = pd.read_csv('counts.csv', header=None, names=dataColumns)
df = pd.DataFrame(data)

In [239]:
#data2 = pd.read_csv('%s/../data2/counts.csv' % os.getcwd(), header=None, names=dataColumns)
#df2 = pd.DataFrame(data2)

In [254]:
## Data cleanup
df = df.sort_values(by=['gc_content'])

          run  seq  gc_content  unpaired_count  character_count
0    39431259    1           0              51              409
506  89620876    6           0              73              409
209  43470161    9           0              65              409
88   39431259    8           0              89              409
396  74238520    6           0              63              409
308  63175792    8           0              71              409
77   39431259    7           0              61              409
220  63175792    1           0              57              409
407  74238520    7           0              69              409
66   39431259    6           0              59              409
297  63175792    7           0              71              409
231  63175792   10           0              93              409
55   39431259    5           0              65              409
418  74238520    8           0              75              409
242  63175792    2           0              65              409
44   39431259    4           0              75              409
528  89620876    8           0              63              409
99   39431259    9           0              65              409
385  74238520    5           0              79              409
110  43470161    1           0              61              409
165  43470161    5           0              73              409
176  43470161    6           0              65              409
154  43470161    4           0              53              409
517  89620876    7           0              59              409
352  74238520    2           0              67              409
330  74238520    1           0              67              409
143  43470161    3           0              63              409
539  89620876    9           0              63              409
187  43470161    7           0              65              409
363  74238520    3           0              69              409
..        ...  ...         ...             ...              ...
57   39431259    5         100              43              410
310  63175792    8         100              49              410
519  89620876    7         100              45              410
299  63175792    7         100              41              410
321  63175792    9         100              43              410
288  63175792    6         100              37              410
277  63175792    5         100              41              410
266  63175792    4         100              37              410
332  74238520    1         100              45              410
255  63175792    3         100              43              410
497  89620876    5         100              41              410
244  63175792    2         100              43              410
343  74238520   10         100              45              410
233  63175792   10         100              37              410
222  63175792    1         100              51              410
453  89620876   10         100              47              410
211  43470161    9         100              43              410
354  74238520    2         100              39              410
200  43470161    8         100              43              410
508  89620876    6         100              51              410
189  43470161    7         100              37              410
365  74238520    3         100              43              410
178  43470161    6         100              47              410
475  89620876    3         100              49              410
167  43470161    5         100              43              410
156  43470161    4         100              47              410
376  74238520    4         100              41              410
486  89620876    4         100              43              410
134  43470161    2         100              41              410
145  43470161    3         100              39              410

[550 rows x 5 columns]

In [256]:
## Calculations go into new columns
df['paired_count'] = df['character_count'] - df['unpaired_count']
df['percent_paired']=df['paired_count'] / df['character_count'] * 100

In [258]:
df[:5]

,run,seq,gc_content,unpaired_count,character_count,paired_count,percent_paired
0,39431259,1,0,51,409,358,87.530562
506,89620876,6,0,73,409,336,82.151589
209,43470161,9,0,65,409,344,84.107579
88,39431259,8,0,89,409,320,78.239609
396,74238520,6,0,63,409,346,84.596577

In [259]:
for i in range(0, 11):
    gc_content = i * 10;
    current_df = df.loc[df['gc_content']==gc_content]
    print ("Variance in percent paired w/", gc_content, " GC richness =", '%.3f' %  
    df[df["gc_content"] == gc_content]["percent_paired"].var())
    print("Mean: %.3f" % current_df['percent_paired'].mean())

Variance in percent paired w/ 0  GC richness = 5.078
Mean: 83.276
Variance in percent paired w/ 10  GC richness = 11.563
Mean: 78.641
Variance in percent paired w/ 20  GC richness = 9.352
Mean: 77.027
Variance in percent paired w/ 30  GC richness = 7.502
Mean: 76.606
Variance in percent paired w/ 40  GC richness = 8.424
Mean: 76.499
Variance in percent paired w/ 50  GC richness = 7.236
Mean: 77.721
Variance in percent paired w/ 60  GC richness = 3.413
Mean: 80.284
Variance in percent paired w/ 70  GC richness = 3.566
Mean: 81.944
Variance in percent paired w/ 80  GC richness = 3.016
Mean: 84.184
Variance in percent paired w/ 90  GC richness = 1.842
Mean: 86.644
Variance in percent paired w/ 100  GC richness = 0.857
Mean: 89.366

In [221]:
treatment = {}
k = 0
while k < 11:
    value = ...
    treatment[k*10] = df[df["gc_content"] == k*10]["percent_paired"]
    k += 1

52     83.631841
41     83.830846
19     82.338308
184    83.631841
173    83.631841
74     84.527363
63     83.532338
206    83.532338
96     84.726368
107    84.726368
239    84.726368
118    82.338308
30     82.935323
129    83.134328
162    85.422886
217    84.527363
140    82.935323
8      83.830846
151    83.830846
195    84.427861
228    83.631841
85     83.631841
Name: percent_paired, dtype: float64

In [210]:
df.corr()
df2.corr()

SyntaxError: invalid syntax (<ipython-input-210-ea70b18fe7a7>, line 1)

In [225]:
f_val, p_val = stats.f_oneway(treatment[40], treatment[50])  
print("One-way ANOVA P =", p_val)

One-way ANOVA P = 0.4768508575790309